@import 'tailwindcss';
@import 'uniwind';

@theme {
  --color-accent: #5AA3CC;
  --color-accent-dark: #73B9DF;
}

@utility h-hairline {
  height: hairlineWidth();
}

@utility border-hairline {
  border-width: hairlineWidth();
}

@utility border-t-hairline {
  border-top-width: hairlineWidth();
}
